html,body{
    font-size: 12px;
    background-size: auto; 
    background-color: rgb(232, 232, 232); 
}
#home{
    overflow: hidden;
}
/* header */
#home .head{
    height: 49px;
    padding-left: 10px;
    font-size: .75rem; 
    border-bottom: 1px solid #ccc;
    background: #fff;
}
/* gird */
#home .head .row{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* header_left */
#home .head .head_l{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff url('../img/logo.png') no-repeat 10px bottom;
    background-size: auto 2rem;
    padding-left: 10px;
}

/* header_right */
#home .head .head_r{
    margin: 0;
    padding: 0;
}
#home .head .head_r .nav{
    height: 100%;
    line-height: 70px;
    float: right;
}
#home .head .head_r .nav span{
    padding: 0;
    padding: 0;
    padding-right: 10px;
    list-style: none;
    float: left;
}

/* ************************************************************* */

/* footer */
footer.foot{
    background: rgb(19, 20, 21) url('../img/footer.png') no-repeat center .4rem; 
    background-size: 6.68rem 2.48rem;   
    color: rgb(102, 102, 102);
    padding: 0 27px;
}
/* company dir */
.foot .dir{
    padding: 56px 0 20px 0; 
    border-bottom: 1px solid rgb(102, 102, 102);
    margin-bottom: 20px;
}



/* company address */